h1{
  font-size: 2rem;
}

.card-pokemon{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bgCards);
  border-radius: 2rem;
}
.card-pokemon img{
  width: 80%;
  image-rendering: pixelated;
}
.info-tipos{
  display: flex;
  flex-direction: row;
  gap:1rem;
}

.tipos p{
    padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
