h1{
  font-size: 2rem;
}

.card-pokemon{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bgCards);
  border-radius: 2rem;
}
.card-pokemon img{
  width: 80%;
  image-rendering: pixelated;
}
.info-tipos{
  display: flex;
  flex-direction: row;
  gap:1rem;
}



.bg-normal{
  background-color:#A8A878 ;
  padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.bg-fuego {
  background-color: #F08030;
  padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.bg-flighting{
  background-color: #C03028;
  padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.bg-water{
  background-color:#6890F0 ;
  padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.bg-flying {
  background-color:#A890F0 ;
  padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.bg-grass {
  background-color: #78C850;
  padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.bg-poisson {
  background-color: #A040A0;
  padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.bg-electric {
  background-color: #F8D030;
  padding: .7rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

