<div class="pokemon-single">
  <a routerLink="#">
    <div class="card-pokemon">
      <h1 *ngIf="data">{{data.name}}</h1>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" alt="">
      <!-- <div class="info-tipos">
        <div  class="tipos" *ngFor="let tipo of pokemon?.types">
          <p [ngClass]="color(tipo.type.name)">{{tipo.type.name}}</p>
        </div>
      </div> -->
    </div>
  </a>
 <!-- importar los estilos predeterminados  -->

</div>


