.nav {

  background-color: var(--bgHeader);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav a {
  font-family: var(--fuenteTitulares);
  color: black;
}

.nav a:hover {
  text-shadow: 1px 1px 4px rgba(128, 0, 0, 1);
  ;
}

.img-pok {
  width: 3rem;
  height: 3rem;
}
.boton{
  height: 1.8rem;
  width: 1.8rem;
}
@media (min-width: 768px) {
  .img-pok{
    width: 5rem;
    height: 5rem;
  }
    .boton {
      height: 2.5rem;
      width: 2.5rem;
    }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search-container .input {
  /* display: none; */
  /* background-color: transparent; */
  border: none;
  font-family: var(--fuenteCuerpo);
  font-size: 1.5rem;
  border-radius: .2rem;
  outline: none;
  color: var(#000);
  caret-color: #000;
  width: 8rem;
  height: 2rem;

}
.search-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.bg-search{
  background-color: beige;

}
.buscado-container{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buscado-container p{
  color: #000;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.buscado-container img{
  width: 4rem;
}
