.menu-start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  /* height: 90vh */
  background-color: var(--bgPokedex);
}
/* Nombre y la imagen */
.name-img{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* Card */
.card-pokemon {
  margin: 3rem 0;
  padding: 2rem;
  background-color: var(--bgCards);
  border-radius: 2rem;
  width: 90%;
}
@media (min-width: 768px) {
  .card-pokemon {
    width: initial;
  }
}
/* Info */
.info-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid #000;
  padding: 1rem;
}
.info-inlines{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.info-inline{
  padding: 1rem;
  display: inline-block;
  flex-wrap: wrap;
  border: 1px solid #000;
}
.info {
  padding: .7rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.tipos{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
}
.titulo {
  color: #000;
  padding-right: 1rem;
}
/* info-stats */
.titulo-span {
  font-family: var(--fuenteCuerpo);
  color: #000;
  padding-right: 1rem;
}
/* .stats-container{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.stats {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #000;
  padding: 1rem;
  text-align: center;
}
@media (max-width: 450px) {
  .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
}
/* Tipografia */
h1 {
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
/* Img */
.card-pokemon img {
  width: 50%;
  image-rendering: pixelated;
}


/* colores-tipos */
.bg-normal {
  background-color: #A8A878;

}

.bg-fuego {
  background-color: #F08030;

}

.bg-flighting {
  background-color: #C03028;

}

.bg-water {
  background-color: #6890F0;

}

.bg-flying {
  background-color: #A890F0;

}

.bg-grass {
  background-color: #78C850;

}

.bg-poisson {
  background-color: #A040A0;

}

.bg-electric {
  background-color: #F8D030;
}

.bg-ground {
  background-color: var(--tipoGround);
}

.bg-pyschic {
  background-color: var(--tipoPyschic);
}

.bg-rock {
  background-color: var(--tipoRock);
}

.bg-ice {
  background-color: var(--tipoIce);
}

.bg-bug {
  background-color: var(--tipoBug);
}

.bg-dragon {
  background-color: var(--tipoDragon);
}

.bg-ghost {
  background-color: var(--tipoGhost);
}

.bg-dark {
  background-color: var(--tipoDark);
}

.bg-steel {
  background-color: var(--tipoSteel);
}

.bg-fairy {
  background-color: var(--tipoFairy);
}
