<app-header></app-header>
<div class="menu-start-container">
      <div class="card-pokemon">
        <div class="name-img">
          <h1>{{unPokemon?.name}}</h1>
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" alt="">
        </div>
        <div class="info-container">
          <p class="titulo">Types: </p>
          <div class="tipos">
            <div  *ngFor="let tipo of unPokemon?.types">
              <p [ngClass]="color(tipo.type.name)">{{tipo.type.name}}</p>
            </div>
          </div>
        </div>
        <div class="info-container">
          <p class="titulo">Abilities:</p>
          <div class="tipos">
            <div *ngFor="let abilitie of unPokemon?.abilities">
                <p class="info">{{abilitie.ability.name}}</p>
            </div>
          </div>
        </div>
        <h2>Stats</h2>
        <!-- CENTRAR LOS STATS -->
        <!-- INTENTAR OPTIMIZAR EL CODIGO -->
        <div class="stats-container">
          <div class="stats">
            <div *ngFor="let stat of stats"><!-- stats es la variable que cree en el ts para acceder a la promiedad stat.name -->
              <p class="info"><span class="titulo-span">{{stat.stat.name}}: </span><span class="base-stat">{{stat.base_stat}}</span></p>
            </div>
          </div>
        </div>
      </div>
</div>

<app-footer></app-footer>
